/App/**
/App2/**
/App_net2/*
/App_net46/*
/App_net46_debug/FraunhoferIPK/bin/*
/App_net46_debug/FraunhoferIPK/obj/*
/Library/*
**/.vs/**
/App_net46_debug/FraunhoferIPK/Assets/*
/App_net46_debug/FraunhoferIPK/Data/*
/App_net46_debug/FraunhoferIPK/UnityEngine.AccessibilityModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.AccessibilityModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.AIModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.AIModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.AnimationModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.AnimationModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.ARModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.ARModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.AudioModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.AudioModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.ClothModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.ClothModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.CoreModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.CoreModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.CrashReportingModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.CrashReportingModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.DirectorModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.DirectorModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.GameCenterModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.GameCenterModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.GridModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.GridModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.HoloLens.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.HoloLens.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.ImageConversionModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.ImageConversionModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.IMGUIModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.IMGUIModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.InputModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.InputModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.JSONSerializeModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.JSONSerializeModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.Networking.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.Networking.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.ParticlesLegacyModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.ParticlesLegacyModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.ParticleSystemModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.ParticleSystemModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.PerformanceReportingModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.PerformanceReportingModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.Physics2DModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.Physics2DModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.PhysicsModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.PhysicsModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.ScreenCaptureModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.ScreenCaptureModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.SpatialTracking.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.SpatialTracking.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.SpriteMaskModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.SpriteMaskModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.StyleSheetsModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.StyleSheetsModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.TerrainModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.TerrainModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.TerrainPhysicsModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.TerrainPhysicsModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.TextRenderingModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.TextRenderingModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.TilemapModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.TilemapModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.Timeline.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.Timeline.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.UI.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.UI.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.UIElementsModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.UIElementsModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.UIModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.UIModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.UNETModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.UNETModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.UnityAnalyticsModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.UnityAnalyticsModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.UnityConnectModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.UnityConnectModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.UnityWebRequestAudioModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.UnityWebRequestAudioModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.UnityWebRequestModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.UnityWebRequestModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.UnityWebRequestTextureModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.UnityWebRequestTextureModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.UnityWebRequestWWWModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.UnityWebRequestWWWModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.VehiclesModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.VehiclesModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.VideoModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.VideoModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.VRModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.VRModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.WebModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.WebModule.pdb
/App_net46_debug/FraunhoferIPK/UnityEngine.WindModule.dll
/App_net46_debug/FraunhoferIPK/UnityEngine.WindModule.pdb
/App_net46_debug/FraunhoferIPK/Unprocessed/*
/App_net46_debug/GeneratedProjects/*
/App_net46_debug/Unity/Tools/*
